@font-face {
    font-family: 'Calibri';
    src: url('/hybrids-wiki/fonts/calibri-regular.ttf');
}

@font-face {
    font-family: 'HogB';
    src: url('/hybrids-wiki/fonts/Hogb.TTF');
}

@font-face {
    font-family: 'ComicSans';
    src: url('/hybrids-wiki/fonts/Comic Sans.ttf');
}

@font-face {
    font-family: 'FredokaOne';
    src: url('/hybrids-wiki/fonts/FredokaOne-Regular.ttf');
}

* {
    font-family: "Calibri";
}

h1 {
    text-transform: uppercase;
}

h2 {
    /*font-family:"Big Block Balance";*/
    text-transform: uppercase;
}

/*
h3 {
    font-family:"Big Block Balance";
    text-transform: uppercase;
}*/

div.gui {
    background-color: lightslategray;
    top: 0;
    position: sticky;
    align-content: start;
    justify-content: center;
}